* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin: 50px auto;
  width: 960px;
  display: flex;
}

.box {
  padding: 10px;
  margin-right: 30px;
  width: 300px;
  position: relative;
  background-color: #eee;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #ff9a4b;
}

h3 {
  margin:15px 0 5px;
}

.step-visual1 {
  height: 150px;
  background-position: bottom;
  background-size: cover;
  background-image: url(img/flow01.png);
}

.step-visual2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step-visual3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.box:last-child {
  margin-right: 0;
}

footer {
  height: 50px;
  background-color: #aaa;
}